:root {
  --dark-navy: #221d1d;
  --navy: #191414;
  --light-navy: #b33c00;
  --lightest-navy: #f58265;
  --navy-shadow: #fffc33;
  --slate: #f3c36a;
  --light-slate: #802900;
  --lightest-slate: #ff2600;
  --white: #FFC488;
  --green-bright: #ffff66;
  --green-tint: #ffffcc;
}
